<button type="button" class="btn btn-primary waves-effect waves-light m-r-10 asiento" data-toggle="modal" data-target="#asiento"> <i class="fa fa-accountting" > Enviar Asiento </i>
</button>

<table class="table table-sm table-hover cdcliente ">
    <thead>
        <tr>

            <th>Fecha</th>
            <th>Empleado</th>
            <th> Cliente </th>
            <th> Details </th>

        </tr>
    </thead>
    <!--  -->
    <tbody *ngFor="let factura of Lista_Factura; let i = index">
        <tr>

            <td> {{factura.Date | date:'longDate'}}</td>
            <td> {{factura.Empleado}}</td>
            <td> {{factura.Cliente}}</td>
            <td>
             <button type="button" class="btn btn-secondary waves-effect waves-light m-r-10" data-toggle="modal" data-target="#detalle" (click)="Detalle(factura.InvoiceID)"> <i class="fa fa-eye" > </i>
              </button>

            </td>
        </tr>
    </tbody>

</table>






<!--
============================================
Detalle
=============================================  -->
<div class="modal fade" id="detalle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="clienteTitleLabel">Detalle Factura</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
            </div>
            <div class="modal-body">
                <table class="table table-sm table-hover cdcliente ">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Precio</th>
                            <th> Cantidad </th>
                            <th> Total </th>
                        </tr>
                    </thead>
                    <!--  -->
                    <tbody *ngFor="let detalle of Detalle_Factura; let i = index">
                        <tr>
                
                            <td> {{detalle.Producto}}</td>
                            <td> {{detalle.Precio | currency: 'USA'}}</td>
                            <td> {{detalle.Cantidad}}</td>
                            <td> {{detalle.Total | currency:'USA'}}</td>
                 
                        </tr>
                    </tbody>
                
                </table>
            </div>

        </div>
    </div>
</div>

<!-- <form ngNativeValidate class="form-material" #DetalleFacturaForm="ngForm"> -->

    <!-- <input type="hidden" required class="form-control" name="ProductID" #ProductID="ngModel" [(ngModel)]="servicio.selectedProducto.ProductID">
    <div class="form-group row">
        <label for="artDescripcion" class="col-sm-3 col-form-label">Descripcion</label>
        <div class="col-xs-12">


            <input type="text" required class="form-control" name="Description" #Description="ngModel" [(ngModel)]="servicio.selectedProducto.Description">


        </div>
    </div>

                    <div class="form-group row">
                        <label for="artDescripcion" class="col-sm-3 col-form-label">Precio</label>
                        <div class="col-xs-12">

                            <input type="number" required class="form-control" name="Price" #Price="ngModel" [(ngModel)]="servicio.selectedProducto.Price">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="artDescripcion" class="col-sm-4 col-form-label">Stock</label>
                        <div class="col-xs-10">
                            <input required type="number" class="form-control" name="Stock" #Stock="ngModel" [(ngModel)]="servicio.selectedProducto.Stock">
                        </div>
                    </div>



                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button [disabled]="ProductoActualizarForm.invalid" type="button" (click)="ActualizarProducto(ProductoActualizarForm.value.ProductID,ProductoActualizarForm.value)" data-dismiss="modal" class="btn btn-primary">Registrar</button>
                    </div> -->
                </form>
            </div>

        </div>
    </div>
</div>




<!--
============================================
Asiento Contable
=============================================  -->
<div class="modal fade" id="asiento" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="clienteTitleLabel">Detalle Factura</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
            </div>
            <div class="modal-body">
                <form ngNativeValidate class="form-material" #DetalleFacturaForm="ngForm">






                    <div class="form-group row">
                        <label for="artDescripcion" class="col-sm-3 col-form-label">Fecha</label>
                        <div class="col-xs-12">


                            <input disabled type="text" required class="form-control" [value]="dia | date:'shortDate'">


                        </div>
                    </div>


                    <div class="form-group row">
                        <label for="artDescripcion" class="col-sm-3 col-form-label">Descripcion</label>
                        <div class="col-xs-12">


                            <input type="text" required class="form-control">


                        </div>
                    </div>

                    <div class="modal-footer">
                        <button [disabled]="DetalleFacturaForm.invalid" type="button" data-dismiss="modal" class="btn btn-primary">Enviar Asiendo</button>
                    </div>
                    <!-- <input type="hidden" required class="form-control" name="ProductID" #ProductID="ngModel" [(ngModel)]="servicio.selectedProducto.ProductID">


    <div class="form-group row">
        <label for="artDescripcion" class="col-sm-3 col-form-label">Precio</label>
        <div class="col-xs-12">

            <input type="number" required class="form-control" name="Price" #Price="ngModel" [(ngModel)]="servicio.selectedProducto.Price">
        </div>
    </div>

    <div class="form-group row">
        <label for="artDescripcion" class="col-sm-4 col-form-label">Stock</label>
        <div class="col-xs-10">
            <input required type="number" class="form-control" name="Stock" #Stock="ngModel" [(ngModel)]="servicio.selectedProducto.Stock">
        </div>
    </div>



    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button [disabled]="ProductoActualizarForm.invalid" type="button" (click)="ActualizarProducto(ProductoActualizarForm.value.ProductID,ProductoActualizarForm.value)" data-dismiss="modal" class="btn btn-primary">Registrar</button>
    </div> -->
<!-- </form> -->