<div class="content-sidebar">

    <button class="burger-sidebar">Facturacion</button>
    <nav class="navbar sidebar">
        <ul class="nav menu-header">

            <li class="">
                <a routerLinkActive="active" routerLink="/pages/inicio" ui-sref=""><img src="assets/images/home128.png" class="image" /><br> Inicio</a>
            </li>



            <li class="">
                <a routerLinkActive="active" routerLink="/pages/cliente" ui-sref=""><img src="assets/images/cliente128.png" class="image" /> <br> Clientes</a>
            </li>
            <li class="">
                <a routerLinkActive="active" routerLink="/pages/empleado" ui-sref=""><img src="assets/images/employee128.png" class="image" /> <br> Empleados</a>
            </li>

            <li class="">
                <a routerLinkActive="active" routerLink="/pages/producto" ui-sref=""><img src="assets/images/product128.png" class="image" /><br> Productos</a>
            </li>
            <li class="">
                <a routerLinkActive="active" routerLink="/pages/factura" ui-sref=""><img src="assets/images/logo128.png" class="image" /><br> Facturar</a>
            </li>
            <li class="">
                <a routerLinkActive="active" routerLink="/pages/fact" ui-sref=""><img src="assets/images/factura.png" class="image" /><br> Facturas</a>
            </li>



            <li class="">
                <a routerLinkActive="active" routerLink="/pages/contabilidad" ui-sref=""><img src="assets/images/contabilidad.png" class="image" /> <br>Contabilidad</a>
            </li>

            <!-- <li class="sub-sidebar"><span class="static-option"><img src="assets/images/plus.png" class="image" /></span>
                <nav>
                    <ul>


                        <li class="">
                            <a routerLinkActive="active" routerLink="/login" ui-sref=""><img src="assets/images/login.png" class="image" /> <br>Sign Out</a>
                        </li>




                    </ul>
                </nav>
            </li> -->

        </ul>
        <br>
        <button class="btn btn-danger "> Log Out</button>
    </nav>
</div>