<div class="animated fadeIn general">

    <div class="btnnewcliente">
        <div class="col-md-6">
            <button (click)="resetForm(EmpleadoAgregarForm)" type="button" class="btn btn-success waves-effect waves-light m-r-10" data-toggle="modal" data-target="#Agregar">
        <i class="fa fa-plus"></i>  Agregar Empleado
      </button>
        </div>
    </div>
    <br>
    <br>


    <table class="table table-sm table-hover cdcliente ">
        <thead>
            <tr>

                <th>Nombre</th>
                <th>Bono de porcentaje</th>
                <th> Estado </th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody *ngFor="let empleado of servicio.Empleado ">
            <tr>
                <td>{{empleado.Name}}</td>
                <td>{{empleado.BonusPercent}} %</td>
                <td>
                    <div class="activePa" *ngIf=" empleado.EmployeeStatus  == 1 "> <span data-toggle="tooltip" data-placement="top" title="Activo" class="text-success">Activo</span></div>
                    <div class="activePa" *ngIf=" empleado.EmployeeStatus  == 0 "> <span data-toggle="tooltip" data-placement="top" title="Inactivo" class="text-danger">Inactivo</span> </div>
                </td>

                <td>
                    <!-- =====================
                          Editar
                ===================== -->
                    <button class="btn btn-primary" data-toggle="modal" data-target="#Actualizar" (click)="show(empleado)">
                  <i class="fa fa-edit"></i> Editar
                </button>
                    <button type="button" class="btn btn-danger waves-effect waves-light m-r-10" (click)="EliminarEmpleado(empleado.EmployeeID)"> <i class="fa fa-trash" > </i> Borrar

            </button>
                </td>
            </tr>
        </tbody>

    </table>

</div>



<!-- ==============================================================================================
Modal Agregar un Cliente
============================================================================================== -->
<div class="modal fade" id="Agregar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="clienteTitleLabel">Agregar Empleado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form ngNativeValidate class="form-material" #EmpleadoAgregarForm="ngForm">
                    <div class="form-group row">
                        <label for="artDescripcion" class="col-sm-3 col-form-label" minlength="4">Nombre</label>
                        <div class="col-xs-12">


                            <input type="text" equired class="form-control" name="Name" #Name="ngModel" [(ngModel)]="servicio.selectedEmpleado.Name">


                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="artDescripcion" class="col-sm-3 col-form-label">Bono</label>
                        <div class="col-xs-12">

                            <input type="number" min="0" max="100" required class="form-control" name="BonusPercent" #BonusPercent="ngModel" [(ngModel)]="servicio.selectedEmpleado.BonusPercent">
                        </div>
                    </div>


                    <div class="form-group row">
                        <label for="artDescripcion" class="col-sm-3 col-form-label">Estado</label>
                        <div class="col-xs-12">

                            <input required type="number" min="0" max="1" class="form-control" class="form-control" name="EmployeeStatus" #EmployeeStatus="ngModel" [(ngModel)]="servicio.selectedEmpleado.EmployeeStatus">

                        </div>
                    </div>
                    <!--
                  <div class="form-group row">
                      <label for="artDescripcion" class="col-sm-3 col-form-label">Imagen</label>
                      <div class="col-xs-12">


                      </div>
                  </div> -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button [disabled]="EmpleadoAgregarForm.invalid" type="button" (click)="AgregarEmpleado(EmpleadoAgregarForm)" data-dismiss="modal" class="btn btn-primary">Registrar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>



<!--
============================================
Actualizar  Modal
=============================================  -->
<div class="modal fade" id="Actualizar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="clienteTitleLabel">Actualizar Cliente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form ngNativeValidate class="form-material" #ActualizarActualizarForm="ngForm">

                    <input type="hidden" required class="form-control" name="EmployeeID" #EmployeeID="ngModel" [(ngModel)]="servicio.selectedEmpleado.EmployeeID">
                    <div class="form-group row">
                        <label for="artDescripcion" class="col-sm-3 col-form-label">Nombre</label>
                        <div class="col-xs-12">


                            <input type="text" required class="form-control" name="Name" #Name="ngModel" [(ngModel)]="servicio.selectedEmpleado.Name">


                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="artDescripcion" class="col-sm-3 col-form-label">Bono</label>
                        <div class="col-xs-12">

                            <input type="number" required class="form-control" name="BonusPercent" #BonusPercent="ngModel" [(ngModel)]="servicio.selectedEmpleado.BonusPercent">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="artDescripcion" class="col-sm-4 col-form-label">Estado</label>
                        <div class="col-xs-10">
                            <input required type="number" class="form-control" name="EmployeeStatus" #EmployeeStatus="ngModel" [(ngModel)]="servicio.selectedEmpleado.EmployeeStatus">
                        </div>
                    </div>



                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button [disabled]="ActualizarActualizarForm.invalid" type="button" (click)="ActualizarEmpleado(ActualizarActualizarForm.value.EmployeeID,ActualizarActualizarForm.value)" data-dismiss="modal" class="btn btn-primary">Registrar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>