<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper" class="login-register login-sidebar" style="background-image:url(assets/images/invoice.jpg);">
    <div class="login-box card">
        <div class="card-body">
            <!-- [formGroup]="forma" (ngSubmit)="registrarCliente()" -->
            <form ngNativeValidate class="form-horizontal form-material" id="loginform">
                <a href="javascript:void(0)" class="text-center db"><img class="logo" src="assets/images/logo128.png" alt="Home" />
                </a>
                <h3 class="box-title m-t-40 m-b-0">Registrate ahora</h3><small style="color: blue;"> Crea una cuenta y disfruta</small>

                <div class="form-group m-t-20">
                    <div class="col-xs-12">
                        <input formControlName="nombres" name="nombres" class="form-control" type="text" required placeholder="Digite sus nombres">
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input formControlName="cedula" name="cedula" class="form-control" required placeholder="Digite su cedula">
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input maxlength=11 formControlName="telefono" name="telefono" class="form-control" required placeholder="Digite su telefono">
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input formControlName="direccion" name="direccion" class="form-control" type="text" required placeholder="Digite su direccion">
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input formControlName="usuario" name="usuario" class="form-control" type="text" required placeholder="Digite su usuario">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input formControlName="password" name="password" class="form-control" type="password" required placeholder="Digite su contraseña">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input formControlName="password2" name="password2" class="form-control" type="password" required placeholder="Confirmar contraseña">
                    </div>
                </div>

                <!-- <div class="form-group ">
                    <div class="col-xs-12">
                        <select class="custom-select " class="form-control" name="role">
                                  <option value="USER_ROLE"> USER_ROLE </option>
                              </select>
                    </div>
                </div> -->
                <!-- *ngIf="forma.errors?.sonIguales && !forma.pristine" -->
                <!-- <div class="form-group">
                    <p class="text-danger">
                        Las contraseñas deben de ser iguales
                    </p>
                </div> -->


                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="checkbox checkbox-primary p-t-0">
                            <input formControlName="condiciones" name="condiciones" id="checkbox-signup" type="checkbox">
                            <label for="checkbox-signup"> Estoy de acuerdo con los <a href="#">términos</a></label>
                        </div>
                    </div>
                </div>
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Registrarme</button>
                    </div>
                </div>
                <div class="form-group m-b-0">
                    <div class="col-sm-12 text-center">
                        <p>¿Tienes una cuenta? <a href="#" class="text-primary m-l-5"><b>Ingrese Ahora</b></a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->