<div>
    <div>
        <button disabled accesskey="c" type="button" class="btn facturaEmpleadoBtn">Empleado</button>


        <select (change)="asignarempleado(servicioEmpleado.selectedEmpleado.EmployeeID)" class="facturaEmpleadoSelect" #EmployeeID="ngModel" [(ngModel)]="servicioEmpleado.selectedEmpleado.EmployeeID" name="EmployeeID">
              <option disabled>Seleccione un Empleado</option>
              <option *ngFor="let empleado of servicioEmpleado.Empleado"  [value]="empleado.EmployeeID" selected="" >
                <div>
                {{empleado.Name}}
              </div>
                </option>

            </select>
    </div>
    <div>
        <button disabled type="button" class="btn facturaClienteBtn">Cliente</button>


        <select (change)="asignarCliente(servicioCliente.selectedcliente.ClientID)" class="facturaClienteSelect" #ClientID="ngModel" [(ngModel)]="servicioCliente.selectedcliente.ClientID" name="ClientID">
              <option disabled>Seleccione un Cliente</option>
              <option *ngFor=" let cliente of servicioCliente.Clientes" [value]= "cliente.ClientID"  selected="" >
                {{cliente.Name}}
              </option>

            </select>
        <div class="btnnewcliente">
            <div class="col-md-6">
                <button (click)="resetForm(FacturaAgregarProducto)" type="button" class="btn btn-success waves-effect waves-light m-r-10" data-toggle="modal" data-target="#Agregar">
                <i class="fa fa-plus"></i>  Insertar Producto
              </button>

            </div>
        </div>

    </div>




</div>
<span class=" total"> Total de la Factura</span>

<span class="text-danger total">  {{  total | currency}} </span>


<table class="table table-sm table-hover cdcliente ">
    <thead>
        <tr>

            <th>Producto</th>
            <th>Precio</th>
            <th> Cantidad </th>
            <th>Total</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody *ngFor="let factura of ListaFactura; let i = index">
        <tr>
            <td>{{factura.Descripcion}}</td>
            <td>{{factura?.Precio | currency}}</td>
            <td>{{factura.Cantidad}}</td>
            <td>{{factura?.Precio * factura?.Cantidad | currency}}</td>

            <td>
                <!-- =====================
                    Editar
          ===================== -->

                <button type="button" class="btn btn-danger waves-effect waves-light m-r-10" (click)="Delete(i)"> <i class="fa fa-trash" > </i> Borrar
      </button>
            </td>
        </tr>
    </tbody>

</table>

<button  (click)="Facturar(ListaFactura)" type="button" class="btn money waves-effect waves-light m-r-10"> <i class="fa fa-dollar-sign" > </i>

  Facturar

</button>
<!-- <form [formGroup]="myForm">

    <div formArrayName="phones">

        <div *ngFor="let phone of phoneForms.controls; let i=index" [formGroupName]="i">

            <input formControlName="area">
            <input formControlName="prefix">
            <input formControlName="line">

            <button (click)="deletePhone(i)">Delete</button>

        </div>
    </div>

    <button (click)="addPhone()">Add Phone Number</button>

</form> -->

<!-- =============================================
Insertar Un Producto
============================================= -->
<div class="modal fade" id="Agregar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="clienteTitleLabel">Seleccione Un Producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <form ngNativeValidate class="form-material" #FacturaAgregarProducto="ngForm">
                    <!--<input type="hidden" required class="form-control" name="ClientID" #ClientID="ngModel" [(ngModel)]="servicioProducto.selectedProducto.ProductID">-->
                    <div>
                        <button disabled type="button" class="btn facturabtnModalProducto">Producto</button>


                        <select class="facturaModalSelect" (change)="verId(servicioProducto.selectedProducto.ProductID)" #ProductID="ngModel" [(ngModel)]="servicioProducto.selectedProducto.ProductID" name="ProductID">
                            <option disabled>Seleccione un Producto</option>
                            <option  *ngFor="let Producto of servicioProducto.Producto"  [value]= "Producto.ProductID" selected=""> {{Producto.Description}} </option>
                          </select>



                        <div class="form-group row">

                            <label for="artDescripcion" class="col-sm-3 col-form-label">Precio</label>
                            <div class="col-xs-12">

                                <input *ngIf="!producto" disabled required class="form-control" class="form-control" name="Price" [value]="0">
                                <input *ngIf="producto" disabled required class="form-control" class="form-control" name="Price" [value]="producto?.Price | currency ">
                            </div>
                        </div>


                        <div class="form-group row">

                            <label for="artDescripcion" class="col-sm-3 col-form-label">Cantidad</label>
                            <div class="col-xs-12">

                                <input type="number" max="producto.Stock" min="0" required class="form-control " class="form-control " name="Cantidad" ngModel #Cantidad>

                            </div>
                        </div>

                    </div>
                    <div class="form-group row ">

                        <label for="artDescripcion " class="col-sm-3 col-form-label ">Total</label>
                        <div class="col-xs-12 ">
                            <input type="text" disabled required class="form-control " class="form-control " [value]="producto?.Price * FacturaAgregarProducto.value?.Cantidad | currency ">
                        </div>
                    </div>


                    <div class="modal-footer ">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <!-- (click)="AgregarEmpleado(FacturaAgregarProducto) "  -->
                        <button [disabled]="FacturaAgregarProducto.invalid " type="button " data-dismiss="modal" (click)="agregarProductoFactura(FacturaAgregarProducto)" class="btn btn-danger ">Agregar al Carrito</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>




<!--
============================================
Actualizar  Modal
=============================================  -->
<div class="modal fade" id="Actualizar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="clienteTitleLabel">Actualizar Factura </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form ngNativeValidate class="form-material" #ProductoActualizarForm="ngForm">


                    <div class="form-group row">
                        <label for="artDescripcion" class="col-sm-3 col-form-label">Descripcion</label>
                        <div class="col-xs-12">


                            <input class="form-control" name="Descripcion" #Descripcion="ngModel" [(ngModel)]="this.editFactura.Descripcion" readonly>


                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="artDescripcion" class="col-sm-3 col-form-label">Precio</label>
                        <div class="col-xs-12">

                            <input class="form-control" name="Precio" #Precio="ngModel" [(ngModel)]="this.editFactura.Precio" readonly>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="artDescripcion" class="col-sm-4 col-form-label">Cantidad</label>
                        <div class="col-xs-10">
                            <input required type="number" min="0" class="form-control" name="Cantidad" #Cantidad="ngModel" [(ngModel)]="this.editFactura.Cantidad">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="artDescripcion" class="col-sm-4 col-form-label">Total</label>
                        <div class="col-xs-10">
                            <input class="form-control" name="Total" [value]="this.editFactura?.Precio * this.editFactura.Cantidad | currency " [disabled]="this.editFactura?.Precio">
                        </div>
                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button [disabled]="ProductoActualizarForm.invalid" type="button" data-dismiss="modal" (click)="ActualizarProducto(ProductoActualizarForm,this.editFactura.index)" class="btn btn-primary">Registrar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
